@use "../../variables";

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;

  @media (min-width: variables.$tablet-width) {
    margin-top: 24px;
    margin-bottom: 40px;
    gap: 24px;
  }
}

.img {
  margin-left: 16px;
  margin-right: 16px;
}

.price {
  display: flex;
  gap: 10px;
  margin-top: 4px;
}

.p_price {
  font-size: 17px;
}

.title {
  margin-top: 4px;
  margin-bottom: 24px;
}

// @media (min-width: variables.$tablet-width) {
//   flex-direction: row;
//   justify-content: space-around;
// }

// @media (min-width: variables.$desktop-width) {
//   margin: 0 auto;
//   display: block;
// }
