@use "../../variables";

.construct {
  display: flex;
  margin-top: 30px;
  width: 100%;

  @media (min-width: variables.$tablet-width) {
    justify-content: center;
  }

  @media (min-width: variables.$desktop-width) {
    margin-top: 0;
    justify-content: flex-end;
    padding-top: 45px;
  }
}

.drop_hover {
  outline: 1px solid var(--colors-interface-success);
  border-radius: 30px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list_item_mid {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  min-height: 80px;
}

.list_start_end {
  margin-left: 32px;
}

.make_order {
  margin-top: 40px;
  display: flex;
  gap: 5px;
  margin-bottom: 45px;
  justify-content: flex-end;

  @media (min-width: variables.$tablet-width) {
    margin-right: 32px;
  }
}

.final_price {
  display: flex;
  gap: 10px;
  align-items: center;
}
