@use "../../variables";

.order_details {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 507px;

  @media (min-width: variables.$desktop-width) {
    margin-top: 120px;
    margin-bottom: 120px;
    width: 707px;
  }
}

.id_order {
  text-shadow: 0 0 16px var(--shadow-first), 0 0 8px var(--shadow-first),
    0 4px 32px var(--shadow-second);
  margin-bottom: 10px;

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 40px;
  }
}

.img_order {
  margin: 20px 0;

  @media (min-width: variables.$desktop-width) {
    margin: 60px 0;
  }
}

.last_order_details {
  margin-top: 10px;
}

.order_fetch {
  width: 507px;
  height: 713px;

  @media (min-width: variables.$desktop-width) {
    width: 707px;
  }
}
