@use "../../variables";

.modal_content {
  background-color: var(--modal-content);
  position: relative;
  height: 100%;

  @media (min-width: variables.$tablet-width) {
    border: 1px solid var(--modal-border);
    border-radius: 40px;
  }
}

.close_button {
  background-color: var(--modal-content);
  border: none;
  position: absolute;
  right: 20px;
  top: 25px;
  cursor: pointer;

  &:hover svg {
    fill: var(--text-inactive-color);
  }

  &:active svg {
    fill: var(--text-inactive-color);
  }

  @media (min-width: variables.$desktop-width) {
    top: 60px;
    right: 40px;
  }
}
