@use "../../variables";

.modal_content {
  background-color: #1c1c21;
  position: relative;

  @media (min-width: variables.$tablet-width) {
    border: 1px solid rgba(76 76 255 / 20%);
    border-radius: 40px;
  }
}

.close_button {
  background-color: #1c1c21;
  border: none;
  position: absolute;
  right: 20px;
  top: 25px;

  @media (min-width: variables.$desktop-width) {
    top: 60px;
    right: 40px;
  }
}
