:root {
  --white: #fff;
  --overlay: rgba(0 0 0 / 60%);
  --modal-content: #1c1c21;
  --modal-border: rgba(76 76 255 / 20%);
  --shadow-first: rgba(51 51 255 / 25%);
  --shadow-second: rgba(51 51 255 / 5%);
}
