@use "./variables";
@import "./colors";

html {
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::-webkit-scrollbar {
  background-color: var(--background-element);
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background: var(--text-inactive-color);
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
