@use "./variables";

:root {
  --white: #fff;
  --overlay: rgba(0 0 0 / 60%);
  --modal-content: #1c1c21;
  --modal-border: rgba(76 76 255 / 20%);
  --shadow-first: rgba(51 51 255 / 25%);
  --shadow-second: rgba(51 51 255 / 5%);
}

html {
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::-webkit-scrollbar {
  background-color: var(--background-element);
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background: var(--text-inactive-color);
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
