@use "../../variables";

.ingredients_wrapper {
  margin-top: 20px;

  @media (min-width: variables.$tablet-width) {
    margin-top: 40px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 50%;
  }
}

.main_header {
  font-size: 28px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;

  @media (min-width: variables.$tablet-width) {
    font-size: 36px;
    margin-bottom: 20px;
    justify-content: start;
  }
}

.tabs {
  box-sizing: content-box;

  @media (min-width: variables.$tablet-width) {
    display: flex;
  }
}

.burger_ingredients {
  overflow: auto;

  @media (min-width: variables.$desktop-width) {
    height: 350px;
  }
}

.section {
  margin-top: 20px;

  @media (min-width: variables.$tablet-width) {
    margin-top: 40px;
  }
}

.section_header {
  display: flex;
  justify-content: center;

  @media (min-width: variables.$tablet-width) {
    justify-content: start;
  }
}

.ul_item {
  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 32px;
  }
}
