@use "../../variables";

.ingredients_wrapper {
  @media (min-width: variables.$desktop-width) {
    width: 600px;
    overflow: hidden;
  }
}

.tabs {
  box-sizing: content-box;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    justify-content: center;
  }
}

.burger_ingredients {
  overflow: auto;

  @media (min-width: variables.$desktop-width) {
    height: 100%;
  }
}

.ingredients_section {
  margin-top: 20px;

  @media (min-width: variables.$tablet-width) {
    margin-top: 40px;
  }
}

.section_header {
  display: flex;
  justify-content: center;

  @media (min-width: variables.$tablet-width) {
    justify-content: start;
  }
}

.ul_item {
  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 32px;
  }
}
