.container {
  width: 1280px;
  margin: 0 auto;
}

.header {
  min-height: 88px;

  background-color: var(--background);
  display: flex;
  align-items: center;
}

.nav_ul {
  display: flex;
  align-items: center;
}

.nav_link {
  height: 56px;
  border-radius: 40px;

  display: flex;
  align-items: center;
}

.nav_link_text {
  color: var(--text-inactive-color);
}

.nav_link:hover .nav_link_text {
  color: var(--text-primary-color);

  transition: var(--common-transition);
}

.nav_link:hover svg path {
  fill: var(--text-primary-color);

  transition: var(--common-transition);
}

.nav_link:active .nav_link_text {
  color: var(--text-primary-color);
}

.nav_link:active svg path {
  fill: var(--text-primary-color);
}

.nav_profileIcon {
  margin-left: auto;
}

.nav_logo {
  margin: 0 auto;
}
